In [48]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.preprocessing  import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
#get dataset list from the seaborn 
sns.get_dataset_names()
df=sns.load_dataset('tips')
df.head()
features=df.drop(['size'],axis=1)
y=df.filter(['size'],axis=1)
# having only nummerical dataset
numerical_dataset=features.drop(['sex','smoker','day','time'],axis=1)
print(numerical_dataset.head())
categorical_dataset=features.filter(['sex','smoker','day','time'])
print(categorical_dataset.head())
#perform one hot encoding 
encoding_dataset=pd.get_dummies(categorical_dataset,drop_first=True)
x=pd.concat([numerical_dataset,encoding_dataset],axis=1)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)
#scaling
scaling_dataset=StandardScaler()
x_train=scaling_dataset.fit_transform(x_train)
x_test=scaling_dataset.transform(x_test)

#training the model 
linear_regression_model=LinearRegression()
#training the model
regressor_model=linear_regression_model.fit(x_train,y_train)
#now make the prediction 
y_prediction=regressor_model.predict(x_test)

#Evaluating model
print("Mean absolute error;",metrics.mean_absolute_error(y_test,y_prediction))
print("Mean Square error;",metrics.mean_squared_error(y_test,y_prediction))
print("Root mean Squared error;",np.sqrt(metrics.mean_squared_error(y_test,y_prediction)))

     total_bill   tip     sex smoker   day    time
0         16.99  1.01  Female     No   Sun  Dinner
1         10.34  1.66    Male     No   Sun  Dinner
2         21.01  3.50    Male     No   Sun  Dinner
3         23.68  3.31    Male     No   Sun  Dinner
4         24.59  3.61  Female     No   Sun  Dinner
..          ...   ...     ...    ...   ...     ...
239       29.03  5.92    Male     No   Sat  Dinner
240       27.18  2.00  Female    Yes   Sat  Dinner
241       22.67  2.00    Male    Yes   Sat  Dinner
242       17.82  1.75    Male     No   Sat  Dinner
243       18.78  3.00  Female     No  Thur  Dinner

[244 rows x 6 columns]
   total_bill   tip
0       16.99  1.01
1       10.34  1.66
2       21.01  3.50
3       23.68  3.31
4       24.59  3.61
      sex smoker  day    time
0  Female     No  Sun  Dinner
1    Male     No  Sun  Dinner
2    Male     No  Sun  Dinner
3    Male     No  Sun  Dinner
4  Female     No  Sun  Dinner
     total_bill   tip     sex smoker   day    time
0         16.99  1.01  Female     No   Sun  Dinner
1         10.34  1.66    Male     No   Sun  Dinner
2         21.01  3.50    Male     No   Sun  Dinner
3         23.68  3.31    Male     No   Sun  Dinner
4         24.59  3.61  Female     No   Sun  Dinner
..          ...   ...     ...    ...   ...     ...
239       29.03  5.92    Male     No   Sat  Dinner
240       27.18  2.00  Female    Yes   Sat  Dinner
241       22.67  2.00    Male    Yes   Sat  Dinner
242       17.82  1.75    Male     No   Sat  Dinner
243       18.78  3.00  Female     No  Thur  Dinner

[244 rows x 6 columns]
Mean absolute error; 0.5481916402432562
Mean Square error; 0.4883204876929113
Root mean Squared error; 0.698799318612226